.title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  width: 100vw - 25px;
  overflow-x: hidden;
  padding-bottom: 20px;
  overflow: auto;
}

.showItem {
  margin-right: 20px;
}
